extends layout

include mixins/_domainList

block content
  .row
    .col-md-12
      form(action="/getDomains", method="GET" )
        .form-group
          label(for="domain") Enter keyword
          input.form-control(type="text" placeholder="Search domain names..." name="domain")
        .row.justify-content-center
          .col-md-12.col--center
            button.btn.btn-primary(type="submit") Get Popular Domains
  if domains 
    h2 List of available domains
    .list-group
      each domain in domains
        +domainList(domain)
      
      
    //- 
    
      
    
