mixin domainList(domain)
  list.list-group-item
    .list-group-item-action.flex-column.align-items-start
      form
        p.mb-1(name="name") Domain Name: #{domain.domain_name}
        p.mb-1(name="rating") Rating: #{domain.thirty_day_score}
        button.btn.btn-primary.btn-sm(type="submit") Add to WishList
      
  //- pre=JSON.stringify(domain, null, 2)
  
  
